.root {
    position: absolute;
    left: 5px;
    right: 0px;
    top: 0px;

    max-width: 400px;
    height: 56px;

    border-radius: 10px;
}

.input-field {
    position: absolute !important;
    left: 30px;
    top: 2px;
    bottom: 2px;
    width: 90%;
}

.divider {
    position: absolute;
    top: 0px;
    right: 56px;

    width: 1px;
    height: 56px;

    background-color: lightgray;
}

.search-button {
    position: absolute !important;
    right: 60px;
    top: 0px;

    z-index: 20;

    width: 56px;
    height: 56px;
}

.location-button {
    position: absolute !important;
    right: 0px;
    top: 0px;

    width: 56px;
    height: 56px;
}
